*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 80px;
    background-color: crimson;
    border-bottom: 2px solid;
}
#header>.navbar{
    width: 90%;
    height: inherit;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 50%;
    font-size: 40px;
    color: aliceblue;
}
.menu{
    flex-basis: 50%;
}
.menu>ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.menu>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
    border: 0px solid;
    background-color: aliceblue;
    border-radius: 10px;
}
.menu>ul>li>a:hover{
    background-color: rgb(196, 123, 138);
}

 /* contentbox starts */
 .container{
    width: 100%;
    height: 70vh;
    background-color: crimson;
 }
 .container>.containerbox{
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .container>.containerbox>.contentbox{
    width: 30%;
    height: 50vh;
    /* border: 2px solid; */
    box-shadow: 0 0 15px 0 black;
    background-color: aliceblue;
    text-align: center;
 }